/* 
    Document   : ReportTableStyle
    Created on : Jul 18, 2013, 8:11:28 AM
    Author     : tssimpso
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

tr {
    border: 1px solid black;
}

td {
    border: 1px solid black;
}

th {
    border: 1px solid black;
}

table {
    border: 1px solid black;
}

.legendColor{
    height:20px;
    width:20px;
    float: left;
    border-style: solid;
    border-width: 1px;
}

.graphCanvas {
    float: left;
    height: 400px;
    width: 800px;
    border-bottom: black solid;
    border-left: black solid;
    border-right: black solid;
    border-width: 1px;
}

.graphLegend {
}

.graphTitle {
    clear: both;
    font-weight: bold;
    width: 800px;
    text-align: center;
    border-top: black solid;
    border-left: black solid;
    border-right: black solid;
    border-width: 1px;
}
